@typeparam TItem
@typeparam TId

@using Microsoft.AspNetCore.Components

<h3>Detalhes do @ItemName</h3>

@if (Item == null)
{
    <p>Carregando...</p>
}
else
{
    <div>
        <h4>@GetItemName(Item)</h4>
        @ChildContent(Item)
        <button class="btn btn-warning" @onclick="NavigateToEdit">Editar</button>
        <button class="btn btn-danger" @onclick="DeleteItem">Deletar</button>
    </div>
}

@code {
    [Parameter] public string ItemName { get; set; } = string.Empty;
    [Parameter] public TItem? Item { get; set; }
    [Parameter] public Func<TItem, string> GetItemName { get; set; } = default!;
    [Parameter] public EventCallback NavigateToEdit { get; set; }
    [Parameter] public EventCallback DeleteItem { get; set; }
    [Parameter] public RenderFragment<TItem> ChildContent { get; set; } = default!;
}