@page "/items/{ItemId}"
@using TLMaster.UI.Model.Models
@using TLMaster.UI.Services

@inject ItemService ItemService
@inject NavigationManager NavigationManager

<Details TItem="ItemModel" TId="string"
         ItemName="Item"
         Item="item"
         GetItemName="@(c => c.Name)"
         NavigateToEdit="NavigateToEdit"
         DeleteItem="DeleteItem">
    <ChildContent>
        @if(context.Owner is not null)
        {
            <p><strong>Owner:</strong> <a href="/characters/@context.Owner.Id">@context.Owner.Name</a></p>
        }
        <p><strong>Id:</strong> @context.Id</p>
    </ChildContent>
</Details>

@code {
    [Parameter] public string ItemId { get; set; } = string.Empty;
    private ItemModel? item;

    protected override async Task OnInitializedAsync()
    {
        item = await ItemService.GetByIdAsync(ItemId);
    }

    private void NavigateToEdit()
    {
        NavigationManager.NavigateTo($"/edit-item/{ItemId}");
    }

    private async Task DeleteItem()
    {
        var result = await ItemService.DeleteAsync(ItemId);
        if (result)
        {
            NavigationManager.NavigateTo("/items");
        }
    }
}
