@page "/"
@using System.Text.Json
@using TLMaster.UI.Model.Models
@using TLMaster.UI.Providers
@using TLMaster.UI.Services

@inject TokenProvider TokenProvider
@inject AuthService AuthService
@inject HttpClientProvider HttpClientProvider
@inject UserProvider UserProvider

<PageTitle>TLMaster</PageTitle>

<h1>TLMaster</h1>

@if(User is not null)
{
     <p>Bem-vindo, @User.UserName</p>
    <button @onclick="Logout">Sair</button>
}
else
{
    <p>Você precisa fazer login.</p>
    <button @onclick="Login">Login com Discord</button>
}

@code {
    private UserModel? User = null;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            User = await UserProvider.GetUser();

            StateHasChanged();
        }
    }

    private void Login()
    {
        AuthService.Login();
    }

    private async Task Logout()
    {
        await AuthService.Logout();
    }
}
