@using AutoMapper
@using TLMaster.UI.Models.InputModels
@using TLMaster.UI.Providers
@using TLMaster.UI.Services

@inject GuildService GuildService
@inject NavigationManager NavigationManager
@inject UserProvider UserProvider
@inject IMapper Mapper

<GenericForm TInputModel="GuildInputModel"
             InputModel="guildInput"
             Id="@GuildId"
             ItemName="Guild"
             OnValidSubmit="HandleValidSubmit">
    <ChildContent>
        <div class="form-group mb-4">
            <label for="name" class="form-label">Guild Name</label>
            <InputText id="name" class="form-control" @bind-Value="guildInput.Name" placeholder="Enter the guild name" />
        </div>

        <div class="form-group mb-4">
            <label for="description" class="form-label">Description</label>
            <InputTextArea id="description" class="form-control" @bind-Value="guildInput.Description" placeholder="Enter a description of the guild" rows="4" />
        </div>

        <div class="d-flex justify-content-between">
            <button type="submit" class="btn btn-primary w-48">
                @(GuildId != null ? "Save Changes" : "Create Guild")
            </button>
            <button type="button" class="btn btn-secondary w-48" @onclick="NavigateBack">
                Cancel
            </button>
        </div>
    </ChildContent>
</GenericForm>

@code {
    [Parameter] public string? GuildId { get; set; }

    private GuildInputModel guildInput = new GuildInputModel();

    protected override async Task OnInitializedAsync()
    {
        if (GuildId != null)
        {
            var guild = await GuildService.GetByIdAsync(GuildId);
            if (guild != null)
            {
                guildInput = Mapper.Map<GuildInputModel>(guild);
            }
        }
    }

    private async Task HandleValidSubmit()
    {
        bool result;
        guildInput.GuildMasterId = await UserProvider.GetUserId();

        if (GuildId != null)
        {
            result = await GuildService.UpdateAsync(GuildId, guildInput);
        }
        else
        {
            result = await GuildService.CreateAsync(guildInput);
        }

        NavigateBack();
    }

    private void NavigateBack()
    {
        NavigationManager.NavigateTo("/guilds");
    }
}
