@page "/create-bid"

@using TLMaster.UI.Models.Enums
@using TLMaster.UI.Models.InputModels
@using TLMaster.UI.Providers
@using TLMaster.UI.Services

@inject BidService BidService
@inject NavigationManager NavigationManager
@inject UserProvider UserProvider

<GenericForm TInputModel="BidInputModel"
             InputModel="bidInput"
             Id="@BidId"
             ItemName="Bid"
             OnValidSubmit="HandleValidSubmit">
    <ChildContent>
        <div class="form-group">
            <label for="amount">Amount</label>
            <InputNumber id="amount" class="form-control" @bind-Value="bidInput.Amount" />
        </div>

        <div class="form-group">
            <label for="auction">Auction</label>
            <InputText id="auction" class="form-control" @bind-Value="bidInput.AuctionId" />
        </div>

        <div class="form-group">
            <label for="bidder">Bidder</label>
            <InputText id="bidder" class="form-control" @bind-Value="bidInput.BidderId" />
        </div>

    </ChildContent>
</GenericForm>

@code {
    [Parameter] public string? BidId { get; set; } = null;

    private BidInputModel bidInput = new BidInputModel();

    private async Task HandleValidSubmit()
    {
        bool result;

        result = await BidService.CreateAsync(bidInput);

        NavigationManager.NavigateTo("/");
    }
}