@page "/{AuctionId}/create-bid"

@using TLMaster.UI.Model.Models
@using TLMaster.UI.Models.Enums
@using TLMaster.UI.Models.InputModels
@using TLMaster.UI.Providers
@using TLMaster.UI.Services

@inject BidService BidService
@inject NavigationManager NavigationManager
@inject UserProvider UserProvider

<GenericForm TInputModel="BidInputModel"
             InputModel="bidInput"
             Id="@BidId"
             ItemName="Bid"
             OnValidSubmit="HandleValidSubmit">
    <ChildContent>
        <div class="form-group mb-4">
            <label for="amount" class="form-label">Amount</label>
            <InputNumber id="amount" class="form-control" @bind-Value="bidInput.Amount" placeholder="Enter your bid amount" />
        </div>

        @if (userCharacters.Any())
        {
            <div class="form-group mb-4">
                <label for="character" class="form-label">Select Character</label>
                <InputSelect id="character" class="form-control" @bind-Value="bidInput.BidderId">
                    @foreach (var character in userCharacters)
                    {
                        <option value="@character.Id">@character.Name</option>
                    }
                </InputSelect>
            </div>
        }

        <div class="form-group mt-4">
            <button type="submit" class="btn btn-primary w-100">
                @(BidId != null ? "Save Changes" : "Place Bid")
            </button>
        </div>
    </ChildContent>
</GenericForm>

@code {
    [Parameter] public string AuctionId { get; set; } = string.Empty;
    [Parameter] public string? BidId { get; set; } = null;
    private List<CharacterModel> userCharacters = new();

    private BidInputModel bidInput = new BidInputModel();

    protected override async Task OnInitializedAsync()
    {
        var user = await UserProvider.GetUser();
        userCharacters = user?.Characters.ToList() ?? new List<CharacterModel>();

        bidInput.BidderId = userCharacters?.FirstOrDefault()?.Id ?? string.Empty;
    }

    private async Task HandleValidSubmit()
    {
        bidInput.AuctionId = AuctionId;

        bool result = await BidService.CreateAsync(bidInput);

        if (result)
        {
            NavigationManager.NavigateTo($"/{AuctionId}/bids");
        }
        else
        {
            // Handle error: show a notification or message to the user
        }
    }
}
