@page "/characters"
@using System.Linq
@using TLMaster.UI.Models.Dtos
@using TLMaster.UI.Services

@inject CharacterService CharacterService
@inject NavigationManager NavigationManager

<h3>Characteras</h3>

<button class="btn btn-primary" @onclick="NavigateToCreate">Criar Character</button>

@if (characters == null)
{
    <p>Carregando...</p>
}
else if (!characters.Any())
{
    <p>Nenhuma charactera encontrada.</p>
}
else
{
    <table class="table mt-3">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var character in characters)
            {
                <tr>
                    <td>@character.Name</td>
                    <td>
                        <button class="btn btn-info" @onclick="() => NavigateToDetails(character.Id)">Detalhes</button>
                        <button class="btn btn-warning" @onclick="() => EditCharacter(character.Id)">Editar</button>
                        <button class="btn btn-danger" @onclick="() => DeleteCharacter(character.Id)">Deletar</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<CharacterDto>? characters;

    protected override async Task OnInitializedAsync()
    {
        characters = await CharacterService.GetAllAsync();
    }

    private void NavigateToCreate()
    {
        NavigationManager.NavigateTo("/create-character");
    }

    private void NavigateToDetails(Guid characterId)
    {
        NavigationManager.NavigateTo($"/characters/{characterId}");
    }

    private void EditCharacter(Guid characterId)
    {
        NavigationManager.NavigateTo($"/edit-character/{characterId}");
    }

    private async Task DeleteCharacter(Guid id)
    {
        var result = await CharacterService.DeleteAsync(id);
        if (result)
        {
            characters = await CharacterService.GetAllAsync();
        }
    }
}
